@media (max-width: 900px)
  .header
    height: 300px;

  .index-content
    padding-right: 0;
  .right-info
    display: none;

@media (max-width: 650px)
  .header
    height: 200px;
    .header-cont
      .navigation
        padding: 1rem 1rem 0 0;
