@require "./_vendor/variables"

// Vendors
@import "_vendor/highlight/highlight";
@import "_vendor/normalize";
@import "_vendor/base.css";
@import "_vendor/post.css";


@import "_partials/header";
@import "_partials/footer";
@import "_partials/pagination";
@import "_partials/comments";
@import "_partials/post-sidebar";

@import "_pages/index";
@import "_pages/post";
@import "_pages/category";
@import "_pages/tag";

.layout
  width: 100%;
  position: relative;

.container
  width: 1100px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 1rem;

.markdown-body h1:hover,
.markdown-body h2:hover,
.markdown-body h3:hover,
.markdown-body h4:hover,
.markdown-body h5:hover,
.markdown-body h6:hover
  color: color-second;

::selection
  color: #fff;
  text-shadow: none;
  background: color-second;

@import "_vendor/media";
