@require "../_vendor/variables"

.post-article
  width: 980px;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  .post-footer
    padding: 20px;
    text-align: center;
    .post-tags a
      margin: 6px 10px;
      display: inline-block;
      color: color-vice;
      font-size: .9rem;
