@require "../_vendor/variables"
.comments
  width: 960px;
  margin: 0 auto;
  max-width: 100%;  
  #ds-thread
    #ds-reset
      .ds-meta
        .ds-like-thread-button
          text-shadow: none;
          box-shadow: none;
          border: 1px solid #ccc;
          border-radius: 0;
        .ds-like-thread-button:hover
          background: rgba(255, 255, 255, 0.6);
        .ds-thread-liked
          background-color: rgba(255, 255, 255, 0.6);
      .ds-comments-info
        .ds-comments-tabs
          .ds-tab
            .ds-comments-tab-duoshuo
              text-shadow: none;
              box-shadow: none;
              border: 1px solid #ccc;
              border-radius: 0;
      .ds-avatar
        img
          box-shadow: 2px 2px 4px rgba(0,0,0,0.22);
          border-radius: none;
      .ds-textarea-wrapper
        background: #fff;
        border-radius: 0;
        border: none;
        padding-right: 0;
        textarea
          box-sizing: border-box;
          display: block;
          border: 1px solid #ccc;
          height: 8em;
        textarea:focus
          border: 1px solid color-second;
      .ds-post-options
        background: #fff
        border-radius: 0;
        border-top: 0;
      .ds-post-button
        background: #fff;
        border-top: 0;
        border-radius: 0;
        height: 31px;
      box-sizing: border-box;
      .ds-post-button:hover
        background: color-second;
        color: #fff;
        border: none;
        text-shadow: none;
