@require "../_vendor/variables"

.footer
  width: 100%;
  text-align: center;
  padding: 40px 0;
  line-height: 30px;
  color: #333;
  height: 160px;
  font-size: 0.8rem;
  .my-theme
    a
      color: color-second;
      font-size: .9rem;
